<div class="container" style="margin-bottom:50px;margin-top:150px;">
    <form id='Feedback' style='margin-left:35%'>
        <div class="form-data col-sm-6">
            <p id=successMessage></p>
            <h3 style="font-weight:bold;color:black">Contact Us.</h3>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Full name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Query</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>