<div class="container"style="margin-bottom:20px;margin-top:80px;">
    <form method="POST" action="/sell" enctype="multipart/form-data">
        <div class="form-data col-sm-6">
            {{!-- <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="title" placeholder="Enter Email" required>
            </div> --}}
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="name" id="title" placeholder="Title of book" required>
            </div>
            <div class="form-group">
                <label for="Author">Author</label>
                <input type="text" class="form-control" name="author" id="author" placeholder="Author name"required>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select id="categoryoptions" name="category" class="form-control"required>
                    <option selected>Choose</option>
                    <option value=novels>Novel</option>
                    <option value=action>Action</option>
                    <option value=adventure>Adventure</option>
                    <option value=biography>Biography</option>
                    <option value=classics>Classics</option>
                    <option value=crime-thriller>Crime and Thriller</option>
                    <option value=fantacy>Fantacy</option>
                    <option value=friction>friction</option>
                    <option value=educational>Education Book</option>
                    <option value=children>Children Books</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Price">Price</label>
                <input type="text" class="form-control" name="price" id="inputAddress2" placeholder="Enter Price"required>
            </div>
            <div class="form-group">
                <label for="number">ISBN</label>
                <input type="text" class="form-control" name="ISBN" id="inputAddress2" placeholder="Enter ISBN number"required>
            </div>
            <div class="form-group">
                <label for="number">Pages Count</label>
                <input type="text" class="form-control" name="count" id="inputAddress2" placeholder="Number of Pages"required>
            </div>
            <div class="form-group">
                <label for="number">Variation</label>
                <select id="inputState" name="Variation" class="form-control"required>
                    <option selected>Choose</option>
                    <option value=new>New</option>
                    <option value=used>Used</option>
                </select>
            </div>
            <div class="form-group">
                <label for="upload">Upload Image</label><br>
                <input type="file" name="picture" placeholder="Upload Image"required>
            </div>
            <button type="submit" class="btn btn-primary">Sell</button>
        </div>
    </form>
</div>