@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
header{
    height: 58px;
    background-color:#2bbbad;
    box-shadow: 0 8px 6px -6px rgba(8,126,139)
}
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #F3F3F3;
    color: black;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    /* background: #2bbbad; */
}
#sidebar ul p {
    /* color: #fff; */
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: black
}

#sidebar ul li:hover {
    font-weight: bold
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 20px !important;
    /* background: #2bbbad; */
}
#sidebar{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.wrapper {
    display: flex;
    width: 80%;
    align-items: stretch;
}
.wrapper {
    display: flex;
    align-items: stretch;
}
/* 
#sidebar {
    min-width: 250px;
    max-width: 250px;
} */

#sidebar.active {
    margin-left: -250px;
}
#sidebar {
    width:100%;
    min-height: 100vh;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.usercontent{
    color:black!important;
    font-size: 16px;
    font-weight: bold;
}
.logo{
    width: 200px;
    height: 50px;
}
.logout{
    background-color: black;
    color: white;
    font-weight: bold;
    margin-left: 75%;
}
.logout:hover{
    color: white
}
.edit{
    background-color:darkorange
}