body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#fff;
  background-size:cover;
  background-image: url(https://thenypost.files.wordpress.com/2016/08/lbook.jpg?quality=90&strip=all&w=618&h=410&crop=1);
  background-repeat: no-repeat;
  
  background-image: url(https://thenypost.files.wordpress.com/2016/08/lbook.jpg?quality=90&strip=all&w=618&h=410&crop=1)
}
.signin
{
background:rgba(44,62,80,0.7);
padding: 40px;
width: 250px;
margin: auto;
margin-top: 150px;
height: 350px;
margin-left: 580px;
}
form{
  width: 240px;
  text-align:center;
}
input{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
  }
  input[type=submit]{
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
  }
  input[type=submit]:hover
  {
    color: #fff;
    background-color:black;
  }
  h2{
    color: white;
  }
 a
 {
   color: yellow;
   text-decoration: blink;
 }
 a:hover
 {
color: skyblue;
 }
  .container{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  ::placeholder{
    color: aliceblue;
    opacity: 0.8;
  }
.loginbutton{
  margin-top: 40px
}